<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 4</title>
</head>
<body>
<div>
    <h2>Here are all of the outstanding support tickets:</h2>
</div>
<div>
    <table border="2">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Status</th>
                <th>Update Time</th>
            </tr>
        </thead>
        <tbody>
            {% for line in task4return %}
            <tr>
                {% for item in line %}
                <td>
                    {{item}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a href="/">To Homepage</a>
</div>
</body>
</html>